@import url('https://rsms.me/interface/interface.css');
.clock{
  transform: scale(1.5)
}

body {
  background-color: #3b3b3b;
}

.period {
  color: #999999;
  text-align: center;
  font-family: Interface, sans-serif;
  font-size: 2.8em
}

.centered {
   position: absolute;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -0%)
}
