@import url('https://rsms.me/interface/interface.css');
.clock{
  zoom: 2.74;
-ms-transform: scale(1.74); /* IE 9 /
-webkit-transform: scale(174%); / Safari and Chrome /
-o-transform: scale(154%); / Opera /
-moz-transform: scale(154%); / Firefox */
}

body {
  background-color: #3b3b3b;
}

.period {
  color: #999999;
  text-align: center;
  font-family: Interface, sans-serif;
  font-size: 2.8em
}

.centered {
   position: absolute;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -0%)
}
